# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# PHP / Composer
/vendor/
/auth.json
.phpactor.json
.phpunit.result.cache
/.phpunit.cache/

# Node.js
/node_modules/

# Laravel
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/pail/
/bootstrap/cache/*.php

# Testing
.phpunit.cache
coverage/

# IDE and Editors
/.fleet/
/.idea/
/nova/
/.vscode/
/.zed/

# Operating System
.DS_Store
Thumbs.db
Desktop.ini

# Laravel Homestead
Homestead.json
Homestead.yaml